.search{
    width: 500px;
    margin: 20px auto;
    position: relative;
}
.search input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    padding: 0 15px;
}
.search input.typing{
    border-radius: 10px 10px 0 0 ;
}
.search .search-result{
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}
.search-result .search-result-item{
    padding: 10px 15px;
    border-top: 1px solid #ccc;
}
.search .result-not-found{
    padding: 10px 15px;
    text-align: center;
    color: rgba(0, 0, 0,  0.5);
}